In [1]:
import numpy as np
import pandas as pd

In [25]:
import os

loc = os.path.normpath(os.getcwd() + os.sep + os.pardir)
dataset_link = loc + '\dataset'

In [30]:
# Load customers_dataset

customer_df = pd.read_csv(loc + r'/dataset/customers.csv')
customer_df

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [31]:
# Overall information

customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB

In [33]:
# Check primary keys validity

print('Count of distinct values in \'customer_id\' column:'  , len(pd.unique(customer_df['customer_id'])))
print('Count of distinct values in \'customer_unique_id\' column:'  , len(pd.unique(customer_df['customer_unique_id'])))

Count of distinct values in 'customer_id' column: 99441
Count of distinct values in 'customer_unique_id' column: 96096

In [34]:
# Check number of orders by customer

customer_df.groupby('customer_unique_id').customer_id.count().sort_values(ascending=False)

customer_unique_id
8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
6469f99c1f9dfae7733b25662e7f1782     7
ca77025e7201e3b30c44b472ff346268     7
1b6c7548a2a1f9037c1fd3ddfed95f33     7
                                    ..
5657dfebff5868c4dc7e8355fea865c4     1
5657596addb4d7b07b32cd330614bdf8     1
5656eb169546146caeab56c3ffc3d268     1
5656a8fabc8629ff96b2bc14f8c09a27     1
ffffd2657e2aad2907e67c3e9daecbeb     1
Name: customer_id, Length: 96096, dtype: int64

In [35]:
# Check zip_code

zip_code_check = customer_df.groupby('customer_city').customer_zip_code_prefix.nunique()
zip_code_check[zip_code_check  > 1]

customer_city
abreu e lima               6
agua branca                3
aguas lindas de goias     10
alagoinhas                12
alegrete                   7
                          ..
vitoria de santo antao     7
volta redonda             34
votorantim                10
votuporanga                5
xinguara                   2
Name: customer_zip_code_prefix, Length: 553, dtype: int64

In [36]:
# Problems:
sum(customer_df.groupby('customer_unique_id').customer_city.nunique() > 1)

122

In [37]:
# Check State
customer_df['customer_state'].unique()

array(['SP', 'SC', 'MG', 'PR', 'RJ', 'RS', 'PA', 'GO', 'ES', 'BA', 'MA',
       'MS', 'CE', 'DF', 'RN', 'PE', 'MT', 'AM', 'AP', 'AL', 'RO', 'PB',
       'TO', 'PI', 'AC', 'SE', 'RR'], dtype=object)